<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="net.sdruskat.peppergrinder.rcp.product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.sdruskat.peppergrinder.rcp"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/net.sdruskat.peppergrinder.rcp/css/default.css">
         </property>
         <property
               name="appName"
               value="Pepper Grinder">
         </property>
      </product>
   </extension>

</plugin>
